h2{
    font-family: "Nunito", "helvetica", "arial", "sans-serif";
    border-bottom: 1px solid rgba(30, 149, 237, 0.56);
    color: rgba(30, 149, 237, 1);
}

a{
    text-decoration: none;
}

nav{
    background-color: #EEE;
    border-radius: 3px;
}
nav>ul{
    margin: 0 auto;
}

nav> ul li:hover {
    background-color: rgba(30, 149, 237, .4);
    transition: background-color .3s ease-in-out;
}

#photo-me{
    padding: 15px;
    border: 1px solid rgba(0,0,0,.3);
/*    box-shadow: 0 3px 3px grey;*/
}
#photo-me img{
    box-shadow: 0 0 3px grey;
}

#experience div >h5 img{
    height: 40px;
    margin-right: 5px;
}

#courses> div {
    margin-bottom: 1em;
}

#courses> div p{
    margin: auto;
}

.skills {
    list-style: none;
}

.skills >div:nth-child(odd){
/*    background: rgba(30, 149, 237, 1);*/
    border-bottom: 1px solid rgba(30, 149, 237, 0.56);
    padding:5px;
    margin-top:1em;
}
.skills >div:nth-child(even){
    margin-top:1em;
}

.skills h6{
    padding: auto;
    margin: auto;
}

.skills b{
    display: inline-block;
    margin: 3px 5px;
    background: rgba(30, 149, 237, 0.56);
    border-radius: 40px;
    padding: 2px 10px;
    color:white;
}

footer{
    height: 230px;
    background: rgba(30, 149, 237, 1);
    color:#FFF;
}
footer h2{
    color:white;
}

#contacts a{
    display: inline-block;
    padding: 3px;
    width: 30%;
    color:#FFF;
    margin: auto;
}

#contacts a>img{
    height: 20px;
    margin-right: 12px;
}